<table class="docinfo" frame="void" rules="none">
<col class="docinfo-name" />
<col class="docinfo-content" />
<tbody valign="top">
<tr><th class="docinfo-name">Version:</th>
<td>8.0.1</td></tr>
</tbody>
</table>
<div class="contents alert alert-primary float-md-right topic" id="contents">
<p class="topic-title first">Contents</p>
<ul class="simple">
<li><a class="reference internal" href="#the-default" id="id1">The Default</a></li>
<li><a class="reference internal" href="#sharenice" id="id2">ShareNice</a></li>
<li><a class="reference internal" href="#socialshareprivacy" id="id3">SocialSharePrivacy</a><ul>
<li><a class="reference internal" href="#the-hard-way" id="id4">The Hard Way</a></li>
<li><a class="reference internal" href="#the-easy-way" id="id5">The Easy Way</a></li>
</ul>
</li>
</ul>
</div>
<div class="section" id="the-default">
<h1><a class="toc-backref" href="#id1">The Default</a></h1>
<p>By Default, the themes provided with Nikola will add to your pages a &quot;slide in&quot; widget at
the bottom right of the page, provided by Addthis. This is the HTML code for that:</p>
<pre class="code html"><a name="rest_code_34c31375a92d4022999a809b332cc4da-1"></a><span class="c">&lt;!-- Social buttons --&gt;</span>
<a name="rest_code_34c31375a92d4022999a809b332cc4da-2"></a><span class="p">&lt;</span><span class="nt">div</span> <span class="na">id</span><span class="o">=</span><span class="s">&quot;addthisbox&quot;</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;addthis_toolbox addthis_peekaboo_style</span>
<a name="rest_code_34c31375a92d4022999a809b332cc4da-3"></a><span class="s">    addthis_default_style addthis_label_style addthis_32x32_style&quot;</span><span class="p">&gt;</span>
<a name="rest_code_34c31375a92d4022999a809b332cc4da-4"></a><span class="p">&lt;</span><span class="nt">a</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;addthis_button_more&quot;</span><span class="p">&gt;</span>Share<span class="p">&lt;/</span><span class="nt">a</span><span class="p">&gt;</span>
<a name="rest_code_34c31375a92d4022999a809b332cc4da-5"></a><span class="p">&lt;</span><span class="nt">ul</span><span class="p">&gt;&lt;</span><span class="nt">li</span><span class="p">&gt;&lt;</span><span class="nt">a</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;addthis_button_facebook&quot;</span><span class="p">&gt;&lt;/</span><span class="nt">a</span><span class="p">&gt;</span>
<a name="rest_code_34c31375a92d4022999a809b332cc4da-6"></a><span class="p">&lt;</span><span class="nt">li</span><span class="p">&gt;&lt;</span><span class="nt">a</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;addthis_button_google_plusone_share&quot;</span><span class="p">&gt;&lt;/</span><span class="nt">a</span><span class="p">&gt;</span>
<a name="rest_code_34c31375a92d4022999a809b332cc4da-7"></a><span class="p">&lt;</span><span class="nt">li</span><span class="p">&gt;&lt;</span><span class="nt">a</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;addthis_button_linkedin&quot;</span><span class="p">&gt;&lt;/</span><span class="nt">a</span><span class="p">&gt;</span>
<a name="rest_code_34c31375a92d4022999a809b332cc4da-8"></a><span class="p">&lt;</span><span class="nt">li</span><span class="p">&gt;&lt;</span><span class="nt">a</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;addthis_button_twitter&quot;</span><span class="p">&gt;&lt;/</span><span class="nt">a</span><span class="p">&gt;</span>
<a name="rest_code_34c31375a92d4022999a809b332cc4da-9"></a><span class="p">&lt;/</span><span class="nt">ul</span><span class="p">&gt;</span>
<a name="rest_code_34c31375a92d4022999a809b332cc4da-10"></a><span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
<a name="rest_code_34c31375a92d4022999a809b332cc4da-11"></a><span class="p">&lt;</span><span class="nt">script</span> <span class="na">src</span><span class="o">=</span><span class="s">&quot;//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4f7088a56bb93798&quot;</span><span class="p">&gt;&lt;/</span><span class="nt">script</span><span class="p">&gt;</span>
<a name="rest_code_34c31375a92d4022999a809b332cc4da-12"></a><span class="c">&lt;!-- End of social buttons --&gt;</span>
<a name="rest_code_34c31375a92d4022999a809b332cc4da-13"></a>&quot;&quot;&quot;
</pre><p>You can change that using the <tt class="docutils literal">SOCIAL_BUTTONS_CODE</tt> option in your conf.py. In some cases, just
doing that will be enough but in others, it won't. This document tries to describe all the bits
involved in making this work correctly.</p>
<dl class="docutils">
<dt>Part 1: <tt class="docutils literal">SOCIAL_BUTTONS_CODE</tt></dt>
<dd>Social sharing services like addthis and others will provide you a HTML snippet.
If it is self-contained, then just setting <tt class="docutils literal">SOCIAL_BUTTONS_CODE</tt> may be enough.
Try :-)</dd>
<dt>Part 2: The theme</dt>
<dd>The <tt class="docutils literal">SOCIAL_BUTTONS_CODE</tt> HTML fragment will be embedded <em>somewhere</em> by the theme. Whether that
is the correct place or not is not something the theme author can truly know, so it is possible that
you may have to tweak the <tt class="docutils literal">base.html</tt> template to make it look good.</dd>
<dt>Part 3: <tt class="docutils literal">BODY_END</tt> and <tt class="docutils literal">EXTRA_HEAD_DATA</tt></dt>
<dd><p class="first">Some social sharing code requires JS execution that depends on JQuery being available
(example: <a class="reference external" href="https://github.com/panzi/SocialSharePrivacy">SocialSharePrivacy</a>). It's good
practice (and often, the only way that will work) to put those at the end of <tt class="docutils literal">&lt;BODY&gt;</tt>,
and one easy way to do that is to put them in <tt class="docutils literal">BODY_END</tt></p>
<p class="last">On the other hand, it's possible that it requires you to load some CSS files.
The right place for that is in the document's <tt class="docutils literal">&lt;HEAD&gt;</tt> so they should be added
in <tt class="docutils literal">EXTRA_HEAD_DATA</tt></p>
</dd>
<dt>Part 4: assets</dt>
<dd>For sharing code that doesn't rely on a social sharing service, you may need to add CSS, Image, or JS
files to your site</dd>
</dl>
</div>
<div class="section" id="sharenice">
<h1><a class="toc-backref" href="#id2">ShareNice</a></h1>
<p><a class="reference external" href="http://sharenice.org">Sharenice</a> is &quot;written in order to provide social sharing features to
web developers and website administrators who wish to maintain and protect their users' privacy&quot;
which sounds cool to me.</p>
<p>Let's go step by step into integrating the hosted version of ShareNice into a Nikola site.</p>
<p>For testing purposes, let's do it on a demo site:</p>
<pre class="literal-block">
$ nikola init --demo sharenice_test
A new site with example data has been created at sharenice_test.
See README.txt in that folder for more information.
$ cd sharenice_test/
</pre>
<p>To see what's going on, let's start Nikola in &quot;auto mode&quot;. This should build the
site and open a web browser showing the default configuration, with the AddThis widget:</p>
<pre class="literal-block">
$ nikola auto -b
</pre>
<p>First, let's add the HTML snippet that will show the sharing options. In your conf.py, set this, which
is the HTML code suggested by ShareNice:</p>
<pre class="code python"><a name="rest_code_240fd34ddfd74f229d62c51617a9a6b4-1"></a><span class="n">SOCIAL_BUTTONS_CODE</span> <span class="o">=</span> <span class="s2">&quot;&quot;&quot;&lt;div id=&quot;shareNice&quot; data-share-label=&quot;Share&quot;</span>
<a name="rest_code_240fd34ddfd74f229d62c51617a9a6b4-2"></a><span class="s2">    data-color-scheme=&quot;black&quot; data-icon-size=&quot;32&quot; data-panel-bottom=&quot;plain&quot;</span>
<a name="rest_code_240fd34ddfd74f229d62c51617a9a6b4-3"></a><span class="s2">    data-services=&quot;plus.google.com,facebook.com,digg.com,email,delicious.com,twitter.com&quot;</span>
<a name="rest_code_240fd34ddfd74f229d62c51617a9a6b4-4"></a><span class="s2">    style=&quot;float:right&quot;&gt;&lt;/div&gt;&quot;&quot;&quot;</span>
<a name="rest_code_240fd34ddfd74f229d62c51617a9a6b4-5"></a>
<a name="rest_code_240fd34ddfd74f229d62c51617a9a6b4-6"></a><span class="n">BODY_END</span> <span class="o">=</span> <span class="s2">&quot;&quot;&quot;&lt;script src=&quot;http://graingert.co.uk/shareNice/code.js&quot;&gt;&lt;/script&gt;&quot;&quot;&quot;</span>
</pre><p>And you should now see a sharing box at the bottom right of the page.</p>
<p>Main problem remaining is that it doesn't really look good and integrated in the page layout.
I suggest changing the code to this which looks nicer, but still has some placement issues:</p>
<pre class="code python"><a name="rest_code_70bb40285e18423786e5c01c258fe4e1-1"></a><span class="n">SOCIAL_BUTTONS_CODE</span> <span class="o">=</span> <span class="s2">&quot;&quot;&quot;&lt;div id=&quot;shareNice&quot; data-share-label=&quot;Share&quot;</span>
<a name="rest_code_70bb40285e18423786e5c01c258fe4e1-2"></a><span class="s2">    data-color-scheme=&quot;black&quot; data-icon-size=&quot;32&quot; data-panel-bottom=&quot;plain&quot;</span>
<a name="rest_code_70bb40285e18423786e5c01c258fe4e1-3"></a><span class="s2">    data-services=&quot;plus.google.com,facebook.com,email,twitter.com&quot;</span>
<a name="rest_code_70bb40285e18423786e5c01c258fe4e1-4"></a><span class="s2">    style=&quot;position: absolute; left: 20px; top: 60px;&quot;&gt;&lt;/div&gt;&quot;&quot;&quot;</span>
</pre><p>If anyone comes up with a better idea of styling/placement, just let me know ;-)</p>
<p>One bad bit of this so far is that you are now using a script from another site, and that
doesn't let Nikola perform as many optimizations to your page as it could.
So, if you really want to go the extra mile to save a few KB and round trips, you <em>could</em>
install your own copy from the <a class="reference external" href="https://github.com/mischat/shareNice">github repo</a> and
use that instead of the copy at sharenice.org.</p>
<p>Then, you can create your own theme inheriting from the one you are using and add the CSS
and JS files from ShareNice into your <tt class="docutils literal">bundles</tt> configuration so they are combined and
minified.</p>
</div>
<div class="section" id="socialshareprivacy">
<h1><a class="toc-backref" href="#id3">SocialSharePrivacy</a></h1>
<div class="section" id="the-hard-way">
<h2><a class="toc-backref" href="#id4">The Hard Way</a></h2>
<p><a class="reference external" href="https://github.com/panzi/SocialSharePrivacy">SocialSharePrivacy</a> is &quot;a jQuery plugin that
lets you add social share buttons to your website that don't allow the social sites to track
your users.&quot; Nice!</p>
<p>Let's go step-by-step into integrating SocialSharePrivacy into a Nikola site. To improve
privacy, they recommend you not use the hosted service so we'll do it the hard way, by
getting and distributing everything in our own site.</p>
<p><a class="reference external" href="https://github.com/panzi/SocialSharePrivacy">https://github.com/panzi/SocialSharePrivacy</a></p>
<p>For testing purposes, let's do it on a demo site:</p>
<pre class="literal-block">
$ nikola init --demo ssp_test
A new site with example data has been created at ssp_test.
See README.txt in that folder for more information.
$ cd ssp_test/
</pre>
<p>To see what's going on, let's start Nikola in &quot;auto mode&quot;. This should build the
site and open a web browser showing the default configuration, with the AddThis widget:</p>
<pre class="literal-block">
$ nikola auto -b
</pre>
<p>Now, download <a class="reference external" href="https://github.com/panzi/SocialSharePrivacy/archive/master.zip">the current version</a>
and unzip it. You will have a <tt class="docutils literal"><span class="pre">SocialSharePrivacy-master</span></tt> folder with lots of stuff in it.</p>
<p>First, we need to build it (this requires a working and modern uglifyjs, this may not be easy):</p>
<pre class="literal-block">
$ cd SocialSharePrivacy-master
$ sh build.sh -m gplus,twitter,facebook,mail -s &quot;/assets/css/socialshareprivacy.css&quot; -a off
</pre>
<p>You will now have several files in a <tt class="docutils literal">build</tt> folder. We need to bring them into the site:</p>
<pre class="literal-block">
$ cp -Rv SocialSharePrivacy-master/build/* files/
$ cp -R SocialSharePrivacy-master/images/ files/assets/
</pre>
<p>Edit your <tt class="docutils literal">conf.py</tt>:</p>
<pre class="code python"><a name="rest_code_1d7871a754b34e2e8c536367b2391b71-1"></a><span class="n">BODY_END</span> <span class="o">=</span> <span class="s2">&quot;&quot;&quot;</span>
<a name="rest_code_1d7871a754b34e2e8c536367b2391b71-2"></a><span class="s2">&lt;script src=&quot;/javascripts/jquery.socialshareprivacy.min.js&quot;&gt;&lt;/script&gt;</span>
<a name="rest_code_1d7871a754b34e2e8c536367b2391b71-3"></a><span class="s2">&lt;script&gt;</span>
<a name="rest_code_1d7871a754b34e2e8c536367b2391b71-4"></a><span class="s2">$(document).ready(function () {</span>
<a name="rest_code_1d7871a754b34e2e8c536367b2391b71-5"></a><span class="s2">    $(&#39;.share&#39;).socialSharePrivacy();</span>
<a name="rest_code_1d7871a754b34e2e8c536367b2391b71-6"></a><span class="s2">});</span>
<a name="rest_code_1d7871a754b34e2e8c536367b2391b71-7"></a><span class="s2">&lt;/script&gt;</span>
<a name="rest_code_1d7871a754b34e2e8c536367b2391b71-8"></a><span class="s2">&quot;&quot;&quot;</span>
<a name="rest_code_1d7871a754b34e2e8c536367b2391b71-9"></a>
<a name="rest_code_1d7871a754b34e2e8c536367b2391b71-10"></a><span class="n">SOCIAL_BUTTONS_CODE</span> <span class="o">=</span> <span class="s2">&quot;&quot;&quot;&lt;div class=&quot;share&quot;&gt;&lt;/div&gt;&quot;&quot;&quot;</span>
</pre><p>In my experience this produces a broken, duplicate, semi-working thing. YMMV and if you make it work correctly, let me know how :-)</p>
</div>
<div class="section" id="the-easy-way">
<h2><a class="toc-backref" href="#id5">The Easy Way</a></h2>
<p>Go to <a class="reference external" href="http://panzi.github.io/SocialSharePrivacy/">http://panzi.github.io/SocialSharePrivacy/</a> and use the provided form to get the code. Make sure you check &quot;I already use JQuery&quot;
if you are using one of the themes that require it, like site or default, select the services you want, and use your disqus name if
you have one.</p>
<p>It will give you 3 code snippets:</p>
<dl class="docutils">
<dt>&quot;Insert this once in the head of your page&quot;</dt>
<dd>Put it in <tt class="docutils literal">BODY_END</tt></dd>
<dt>&quot;Insert this wherever you want a share widget displayed&quot;</dt>
<dd>Put it in <tt class="docutils literal">SOCIAL_BUTTONS_CODE</tt></dd>
<dt>&quot;Insert this once anywhere after the other code&quot;</dt>
<dd>Put it in <tt class="docutils literal">BODY_END</tt></dd>
</dl>
<p>That should give you a working integration (not tested)</p>
</div>
</div>
