<center><img src="images/dependable_homebuyers_logo.jpg" /></center>
<center><h1 class="display-4">Sell Your {% if city is defined %}{{city}}, {{state_digraph}}{% else %}{{state}}{% endif %} House That's in Foreclosure</h1></center>
<center><p class="lead">We buy houses in ANY CONDITION and ANY SITUATION. We'll research your property and provide you a offer within 24 hours. There's no obligation whatsoever! Tell us a bit of information about your property...</p></center>
<center><img src="images/arrows.gif" /></center>

<div class="jumbotron">
  <p class="h2">Fill Out This Form and Get a Cash Offer for Your Property</p>
  <hr class="my-4">
  <form>
  <div class="form-group">
    <label for="address">Property Address</label>
    <input type="address" class="form-control" id="address" aria-describedby="addressHelp" placeholder="Enter address">
    <small id="addressHelp" class="form-text text-muted">Address of the property you'd like to sell. We'll provide you an offer within 24 hours.</small>
  </div>
  <div class="form-group">
    <label for="phone">Phone</label>
    <input type="p" class="form-control" id="phone" placeholder="Enter phone">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <button type="submit" class="btn btn-danger btn-lg btn-block">Get My Fair Offer</button>
 </form>
</div>

<hr/>
<h2>Sell My House Fast in {% if city is defined %}{{city}}{% else %}{{state}}{% endif %} and All Surrounding Areas</h2>

<h3>How To Sell A House That Is In Foreclosure</h3>

<p>If you are a homeowner who has defaulted on a home loan, your options probably seem very limited. If you don’t come up with the money you owe the bank in a very short amount of time—money you probably don’t have, otherwise you wouldn’t have defaulted to start with—the bank will foreclose, and you will lose your house. The situation is overwhelming, to say the least.</p>

<figure>
<img src="images/foreclosure-process.jpg" alt="foreclosure-process" />
<figcaption>
Though foreclosure is a long, stressful, and confusing process, the situation is not hopeless. If you think your only option after defaulting on your mortgage is to wait for eviction, it isn’t. You can control what happens to your home and your family, and We Can Help!
</figcaption>
</figure>

<p>Selling a home in foreclosure is a viable option for most homeowners. Dependable Homebuyers can help you avoid foreclosure by selling your home on fair terms that you choose. Better still, with Dependable Homebuyers, the sale process is fast, easy, and stress-free. In many cases, we can put cash in your hand in about a week!</p>

<p>Below we explain the foreclosure process in detail to take away some of the mystery and to help allay your fear that the situation is beyond your control. We also discuss some of the benefits of selling a home in foreclosure that you may not have considered. Then, we’ll show you how Dependable Homebuyers is the answer you’re looking for. When it comes to selling your house quickly and avoiding the humiliation and financial disaster that foreclosure can bring, we are here to help.</p>

<p>As we hope you’ll see, if you are facing foreclosure, Dependable Homebuyers can be the solution to your problem. Because we work FAST, we are perfectly positioned to buy your home and save you from foreclosure if you are up against a deadline to sell or face eviction. You can save your credit, resolve your outstanding debt (with the approval of your lender), know your timetable for moving out of your home, and do all of this with dignity, on terms you choose. All you have to do is contact us today!</p>

<h3>What Is Foreclosure?</h3>

<p>To answer this question, we must first understand some basic terminology. “Mortgage” is a fancy word for a loan that is used to purchase a home. If a lender “holds” a mortgage, that means that that lender is entitled to repayment of that loan.</p>

<p>If a person has a mortgage on a home, it is technically a misnomer to call that person a “homeowner.” That individual is, in reality, a “home borrower” who lives in the home so long as regular loan installments are paid to the holder of the mortgage (usually a bank) from which the mortgage was obtained.</p>

<p>There are three more terms that are useful to know. While these terms have meanings that can differ depending on the context, here we’re talking about the context of homebuying and foreclosure.</p>

<p>The first term is “security.” A security is simply collateral for a loan. In this case, your house is the security.</p>

<p>The second term is “security interest.” A security interest is a legal right the lender has over your home. Here, the mortgage itself gives the lender specific legal rights with respect to your home.</p>

<p>The third term you need to know is “lien.” A lien is a legal right that the bank has to repossess your house if you don’t pay your mortgage. The right exists to protect the bank by ensuring that the bank will recoup the money owed for the property even if the homeowner doesn’t pay the mortgage.</p>

<p>Because the home serves as collateral for the mortgage, the mortgage is called a “secured loan.” The amount of the lien is the outstanding amount of the mortgage. So long as the borrower pays to the lender regular installments on the mortgage, which consist of a small amount of the principal plus outstanding interest, the borrower is allowed to live in the home.</p>

<p>Most people who we think of as “homeowners” are actually in the situation just described. They are borrowers who pay monthly installments to a lender who holds a security interest in the form of the mortgage on the home.</p>

<h3>Now that we know what we’re talking about, What is foreclosure?</h3>

<p>“Foreclosure” is the name for the formal legal process by which the lender attempts to recover the amount of money owed on the mortgage in the event the homeowner stops making payments. The lender’s goal in foreclosure is to use a legal process to force the homeowner to forfeit all legal rights to the property, which the lender will usually sell in order to recoup the money owed on the mortgage.</p>

<p>The foreclosure process starts when the lender provides formal notice of default to the homeowner. How this notice must be provided  varies by state. There is then a pre-foreclosure grace period during which the homeowner can save the home from foreclosure by paying off any outstanding debt on the mortgage. Note, this does not mean that the homeowner has to pay off the entire mortgage; usually, it means that the homeowner must pay only the amount they are in default—the amount they owe to make the mortgage “current”—plus a penalty for late payment.</p>

<p>The homeowner also has the option of selling the home and satisfying the outstanding mortgage through an agreement with the lender. More on this below:</p>

<p>If the homeowner can’t pay off the outstanding debt, the homeowner will be formally evicted. The property then goes to a foreclosure auction where the lender will try to sell the home for at least the amount of money the lender is owed on the mortgage. If the property doesn’t sell at auction, the lender then takes possession of it.</p>

<p>Even after the sale, in many states, the borrower has a “right of redemption.” This is essentially a take-back period after the auction in which the original homeowner has a right to repurchase the home. The amount of time this right applies varies, but in some states, it can be as long as two years. Once the legal redemption period has passed, whoever possesses the home now has clear title to it, and can do with the home whatever they want.</p>

<p>Though the preceding information is generally true in most states, all contracts are different, and the laws of each state differ on many of the details. If you find yourself facing foreclosure, it is in your best interest to consult an attorney to find out what your specific rights and obligations are with respect to your mortgage.</p>

<h3>Can I Sell My Home While It’s in Foreclosure?</h3>

<h4>In most cases, yes, you can! And we can help.</h4>

<p>As we noted above, during foreclosure the homeowner has the option of selling the home and satisfying the outstanding mortgage in full, along with any penalties and fees associated with the foreclosure, through an agreement with the lender. This can happen up until the home is sold at auction or the lenders takes possession.</p>

<p>Working to your advantage, however, is that many lenders hate foreclosures. Foreclosures are expensive and time-consuming, involving lawyers and expenses at multiple stages of the process, and can also create bad publicity for banks. For these reasons, some lenders will agree to a “short sale,” where you sell your home for less than everything you owe, and the bank agrees to accept less than what is owed on the loan.</p>

<p>Why would the lender do this? Two simple reasons. One, they can usually write off the loss (meaning they get a tax benefit). Two, they avoid the foreclosure process altogether; even if they believe they will succeed in foreclosing, they’ll have spent money on lawyers and related fees and still end up with a house to unload in the end. A short sale still gets the lender most of its money back without any of the added hassle that the foreclosure process entails.</p>

<p>We’re available to talk about your property at any time! Give us a call at (855) 741-4848 today. We’re local and would love to meet you at your property in person to talk about your options.</p>

<p>There are other added benefits to a short sale. In a normal real estate transaction, the seller typically pays real estate agent commissions and other closing costs; in a short sale, the seller pays nothing, and the lender foots the bill. Also, if your lender has agreed to give you extra time to find a buyer, this is time you are still living in your house.</p>

<p>NOTE: that in order to resolve your outstanding mortgage with a short sale, you must have approval from the lender. Also, make sure that you get the lender to agree not to pursue something called a “deficiency judgment” against you. In some jurisdictions, the lender can take legal action against you for the amount of money that remains on the mortgage after the lender receives the proceeds of the short sale. That amount of money is called the “deficiency.” The judgment that the lender would obtain in this situation is called a “deficiency judgment,” because the lender gets a judgment against you for the amount of the deficiency. If your lender agrees to a short sale, make sure the lender also agrees not to pursue a deficiency judgment, or you’ll have a new set of problems despite the fact that you avoided foreclosure.</p>





{% if address is defined %}
<br/><p>Dependable Homebuyers<br/>
{{address}}<br/>
{{phone}}</p><br/>
{% endif %}
{% if gmb_map_embed is defined %}<p>{{gmb_map_embed}}</p>{% endif %}
{% if rys_map_embed is defined %}<p>{{rys_map_embed}}</p>{% endif %}
