<center><img src="images/dependable_homebuyers_logo.jpg" /></center>
<center><h1 class="display-4">We Buy Houses in Baltimore, MD</h1></center>
<center><p class="lead">We buy houses in ANY CONDITION. We'll research your property and provide you a offer within 24 hours. There's no obligation whatsoever! Tell us a bit of information about your property...</p></center>
<center><img src="images/arrows.gif" /></center>

<div class="jumbotron">
  <p class="h2">Fill Out This Form and Get a Cash Offer for Your Property</p>
  <hr class="my-4">
  <form>
  <div class="form-group">
    <label for="address">Property Address</label>
    <input type="address" class="form-control" id="address" aria-describedby="addressHelp" placeholder="Enter address">
    <small id="addressHelp" class="form-text text-muted">Address of the property you'd like to sell. We'll provide you an offer within 24 hours.</small>
  </div>
  <div class="form-group">
    <label for="phone">Phone</label>
    <input type="p" class="form-control" id="phone" placeholder="Enter phone">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <button type="submit" class="btn btn-danger btn-lg btn-block">Get My Fair Offer</button>
 </form>
</div>

<hr/>
<h2>Sell My House Fast in Baltimore and All Surrounding Areas</h2>
<p>Need to <strong>sell your house fast in Baltimore?</strong> We’d like to make you a fair, all-cash offer TODAY.&nbsp; And we’ll even&nbsp;<strong>GUARANTEE</strong>&nbsp;that offer and can have a check in your hand in as little as 2 weeks.</p>
<p>There are lots of situations where we can help, including…<strong> avoiding&nbsp;foreclosure</strong>, divorce,&nbsp;<strong>relocating</strong>, inherited an unwanted property, own a&nbsp;<strong>vacant house</strong>,&nbsp;<strong>upside down</strong>&nbsp;in your mortgage, behind on payments, owe&nbsp;<strong>liens</strong>, downsized and can’t sell your house,&nbsp;<strong>needs repairs</strong>&nbsp;you can’t pay for,&nbsp;<strong>fire damaged</strong>, bad rental tenants, and more.</p>
<p>Basically, if you have a property and need to sell it… we’d like to make you a fair cash offer and close on it when you’re ready.&nbsp;&nbsp;What are you waiting for? Give us a call at <strong>(443) 266-6247</strong>!</p>
<p>Dependable Homebuyers works differently. &nbsp;We will provide you a fair&nbsp;<strong>all-cash offer on your house&nbsp;within 24 hours of submitting the short property info form below </strong>and can&nbsp;close when you&#8217;re ready to close.&nbsp;If the house is in terrible shape and you don’t want to (or can’t) fix it up…&nbsp;<strong>NO problem</strong>,&nbsp;we’ll deal with it for you. &nbsp;If you need to get something done quickly, we can close in as little as 2 weeks because we buy houses in Baltimore with cash and don’t have to rely on traditional bank financing.</p>
<p><strong>Frequently Asked Questions:</strong></p>
<ul>
<li><a href="#norepairs">Do I need to make any repairs to my Baltimore home?</a></li>
<li><a href="#fsbo">How can I sell my house myself?</a></li>
<li><a href="#timetosellhouse">How long will it take to sell my house?</a></li>
<li><a href="#sellhousemortgage">Can I sell my house if you have a mortgage?</a></li>
<li><a href="#sellshortsale">Can I sell my house if I owe more than it’s worth?</a></li>
<li><a href="#closingcosts">Are there closing cost when you sell a home?</a></li>
<li><a href="#sellforeclosure">Can you sell a house that is about to be foreclosed?</a></li>
<li><a href="#sellasis">What is an AS IS home sale?</a></li>
<li><a href="#sellwithoutrealestateagent">Can I sell a house without a real estate agent?</a></li>
</ul>
<hr>
<h3>House needs some work and you can’t afford to cover the costs?</h3>
<p><img class="alignright wp-image-1982 size-medium" src="https://cdn.oncarrot.com/uploads/sites/17029/2017/08/baltimore-couple-300x158.jpg" alt="" width="300" height="158"></p>
<p>Let&#8217;s face it, houses are <span style="text-decoration: underline;">expensive</span>. Over the years they require more and more money until they become a money pit. Renovating a property in Baltimore can take months and cost you thousands and thousands of dollars!</p>
<p>If your property is in Baltimore, the right choice may be to <strong>sell your home fast</strong> to someone like Dependable Homebuyers. We&#8217;ll buy your house &#8220;as-is&#8221; and you won&#8217;t have to make any repairs!</p>
<hr>
<div itemscope="" itemtype="http://schema.org/Question">
<h3 itemprop="name description" id="norepairs">Do I need to make any repairs to my Baltimore home?</h3>
<p>Renovating your Baltimore property can be expensive and take profit out of your bottom line:</p>
<div itemprop="suggestedAnswer acceptedAnswer" itemscope="" itemtype="http://schema.org/Answer">
   	 <em itemprop="text"></p>
<p>No. Dependable Homebuyers will purchase your home in the current condition. This could mean a moldy basement, boxes of unwanted items, broken appliances, or a bathroom that hasn’t been updated in years. In fact, we love buying ugly homes that need work!</p>
<p>   	 </em>
    </div>
</div>
<div itemscope itemtype="http://schema.org/Question">
<h3 itemprop="name description" id="fsbo">How can I sell my house myself?</h3>
<p>Selling For Sale By Owner (FSBO) isn&#8217;t your only option:</p>
<div itemprop="suggestedAnswer acceptedAnswer" itemscope="" itemtype="http://schema.org/Answer">
   	 <em itemprop="text"></p>
<p>Listing with a real estate agent allows you to put your home on the MLS, but this comes with heavy real estate agent fees. To save on these fees you can list your home For Sale By Owner but this means you’ll need to handle all your own marketing, negotiating, legal documents, repairs, and wait months before finally finding a buyer. Another option is to sell to a professional home buying company like Dependable Homebuyers. We handle all the details so all you have to do is show up at closing and walk away with a check!</p>
<p>   	 </em>
    </div>
</div>
<div itemscope itemtype="http://schema.org/Question">
<h3 itemprop="name description" id="timetosellhouse">How long will it take to sell my house?</h3>
<p>Sometimes you need to sell you Baltimore house fast but listing with a real estate agent can be time consuming:</p>
<div itemprop="suggestedAnswer acceptedAnswer" itemscope="" itemtype="http://schema.org/Answer">
   	 <em itemprop="text"></p>
<p>When you list with a Baltimore real estate agent it typically takes anywhere between 3-12 months to sell a house. This can vary based on the time of year, competitiveness of the market, and the desirability of your home. During this time you will have buyers touring your Baltimore home and you’ll need to make sure that your home is continuously cleaned and organized. After receiving the contract you’ll have 45 days in which the buyers will conduct inspections, appraisals and go through underwriting for their loan. If for any reasons the buyers decide to back out then you’ll be back at square one, having to relist and find a new buyer.</p>
<p>Your other option is to sell to a home buying company like Dependable Homebuyers. These companies can purchase your home in as little as 7 days. No inspections, no appraisals, and best of all… no buyers touring your home for months on end.</p>
<p>   	 </em>
    </div>
</div>
<div itemscope itemtype="http://schema.org/Question">
<h3 itemprop="name description" id="sellhousemortgage">Can I sell my house if you have a mortgage?</h3>
<p>Having a morgage on your Baltimore house doesn&#8217;t prevent you from selling:</p>
<div itemprop="suggestedAnswer acceptedAnswer" itemscope="" itemtype="http://schema.org/Answer">
   	 <em itemprop="text"></p>
<p>Selling your Baltimore property while you have a mortgage is quite common. Having a mortgage simply means that you still owe money to your lender. When you sell your Baltimore home the proceeds will be used to pay off your mortgage and the rest goes into your pocket.</p>
<p>   	 </em>
    </div>
</div>
<div itemscope itemtype="http://schema.org/Question">
<h3 itemprop="name description" id="sellshortsale">Can I sell my house if I owe more than it’s worth?</h3>
<p>You still have options if you owe more than your Baltimore house is worth:</p>
<div itemprop="suggestedAnswer acceptedAnswer" itemscope="" itemtype="http://schema.org/Answer">
   	 <em itemprop="text"></p>
<p>Selling your Baltimore property is still possible, even if you owe more to the bank than it is worth. Sometimes we will purchase your home directly while other times we may recommend a short sale. A short sale is where you negotiate with the lender to accept a lower amount than what is owed.</p>
<p>Give us a call at (443) 266-6247 and would be happy to explain the process. If you decide to work with us then we would guide you through the entire process so that the sale of your home is handled smoothly and professionally.</p>
<p>     </em>
    </div>
</div>
<div itemscope itemtype="http://schema.org/Question">
<h3 itemprop="name description" id="closingcosts">Are there closing cost when you sell a home?</h3>
<p>Closing costs can add up when selling a property in Baltimore, Maryland:</p>
<div itemprop="suggestedAnswer acceptedAnswer" itemscope="" itemtype="http://schema.org/Answer">
   	 <em itemprop="text"></p>
<p>Most Baltimore sellers want to know who is going to pay the transaction (also called &#8220;closing&#8221;) costs? Even if there are are no real estate agents involved in the sale, there are other costs that simply can’t be avoided. These costs include title company fees, Baltimore transfer and recordation taxes, title Insurance, survey fees, and so on.</p>
<p>When you sell your home to Dependable Homebuyers you pay no closing costs. Our offers cover all of these costs so the amount you are offered is the amount you walk away with at the closing table.</p>
<p>	 </em>
    </div>
</div>
<div itemscope itemtype="http://schema.org/Question">
<h3 itemprop="name description" id="sellforeclosure">Can you sell a house that is about to be foreclosed?</h3>
<p>If you have been served a notice of lis pendens then we can still help:</p>
<div itemprop="suggestedAnswer acceptedAnswer" itemscope="" itemtype="http://schema.org/Answer">
   	 <em itemprop="text"></p>
<p>When you are behind on payments your lender will notify you that you are in default and create a lien against your Baltimore home. At this point you have a limited time to sell your Baltimore house before it is taken away and you lose everything. But don’t worry, you have options. A local home buying company like Dependable Homebuyers can purchase your home in as little as 7 days so that you stop racking up the late fees and get to walk away with as much money as possible.</p>
<p>   	 </em>
    </div>
</div>
<div itemscope itemtype="http://schema.org/Question">
<h3 itemprop="name description" id="sellasis">What is an AS IS home sale?</h3>
<p>You have the option of selling your Baltimore house in AS IS condition:</p>
<div itemprop="suggestedAnswer acceptedAnswer" itemscope="" itemtype="http://schema.org/Answer">
   	 <em itemprop="text"></p>
<p>An “as is” home sale is where the Baltimore homeowner does not make any repairs to his or her property when selling. The person or company buying the property accepts the “as is” condition of the property. No inspections are conducted and any issues are inherited by the buyer.</p>
<p>Dependable Homebuyers purchases homes in Baltimore AS IS, no matter the condition. Leaking roof or flooded basement? Doesn’t matter. We’ll buy your house “as is” with no repairs necessary.</p>
<p>   	 </em>
    </div>
</div>
<div itemscope itemtype="http://schema.org/Question">
<h3 itemprop="name description" id="sellwithoutrealestateagent">Can I sell a house without a real estate agent?</h3>
<p>You don&#8217;t have to use an expensive real estate agent to sell your house:</p>
<div itemprop="suggestedAnswer acceptedAnswer" itemscope="" itemtype="http://schema.org/Answer">
   	 <em itemprop="text"></p>
<p>Not only can you sell a house without a real estate agent, you should! Baltimore real estate agents are expensive and typically cost you 6% of the sale price in a commission. You’d think for this price they’d guarantee a sale, but they can only promise to try their best. Instead of contacting a Realtor you should consider contacting a home buying company instead. Companies like Dependable Homebuyers can guarantee the sale of your home because they’re the ones who will be buying it. No only are you guaranteed a sale, but you also don’t pay any real estate commissions!</p>
<p>   	 </em>
</div>

<br/><p>Dependable Homebuyers<br/>
1402 Belt St, Baltimore, MD 21230<br/>
(443) 266-6247</p><br/>

<p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d65012.38007885563!2d-76.6435230776204!3d39.28163245494974!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c8035a6436096f%3A0xd3d90f6659373c55!2sDependable+Homebuyers!5e0!3m2!1sen!2sus!4v1526436270226" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></p>
<p></p>